@use "../abstracts/variables" as *;


// $color-primary: 
// $color-primary-light: 
// $color-primary-dark: 
// $color-grey-dark: #777;
// $color-white: #fff;
// $color-black: #000;

:root {
  --color-primary:       #55c57a;
  --color-primary-light: #7ed56f;
  --color-primary-dark:  #28b485;

  --color-grey-light:    #f7f7f7;
  --color-grey-dark:     #777;
  --color-white:         #fff;
  --color-black:         #000;
  --color-black-rgb:       0, 0, 0;


}